<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" type="text/css" href="./mystyle.css"> </link>
</head>
<body>
  <header></header>
  <div ng-app="myApp" ng-controller="myCtrl">
    <h1> Welcome to my demo, where I use AngularJs, AngularFire and Firebase.</h1>
    <h2> Here you can add and remove entries from my FireBase database. </h2>
    <ul>
      <li ng-repeat="item in items">
          {{ item.id }} : {{ item.value }}
          <button ng-click="deleteItem(item)">"Delete"</button>
      </li>
      <li>
        <input ng-model="id"></input>
        <input ng-model="value"></input>
        <button ng-click="addItem()">"Add Item"</button>
      </li>
    </ul>
  </div>
  <footer></footer>
</body>
</html>

<script>
var app = angular.module("myApp", ["firebase"]);

app.controller("myCtrl", function($scope, $firebaseArray) {
  var ref = new Firebase("https://sachins-test-project.firebaseio.com/Items");
  // download the data into a local object
  $scope.items = $firebaseArray(ref);

  $scope.deleteItem = function(item){
    $scope.items.$remove(item);
  };

  $scope.addItem = function(){
    $scope.items.$add({ id: $scope.id , value: $scope.value });
  };

});

</script>
